<h1>prueba movie detalls</h1>

{{#if moviesFromDB}}
  <h3>{{title}}</h3>
  <h3>{{genre}}</h3>
  <h3>{{plot}}</h3>
  <div>
    <h3>Cast</h3>
    <ul>
      {{#each cast}}
        <li>{{name}}</li>
        <li>{{occupation}}</li>
        <li>{{catchPhrase}}</li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <h2>No celebrities on our DB!</h2>
{{/if}}